html,body {
  margin:0;
  padding:0;
}

body {padding:50px}

a {
  color:blue;
  text-decoration:none;
}

a:focus,
a:hover {
  color:blue;
  text-decoration:underline;
}

button,
input,
select,
textarea {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

textarea {resize:vertical}

nav {
  display:block;
  height:2em;
  line-height:2em;
  margin:1em 0;
}

nav ul,
nav li {
  margin:0;
  padding:0;
  list-style:none;
}

nav li {
  float:left;
  display:inline;
  position:relative;
  margin:0 1em 0 0;
}

nav a {display:block}

nav li ul {
  width:120px;
  position:absolute;
  top:100%;
  left:0;
  z-index:999;
  display:none;
}

nav li ul ul {
  top:0;
  left:100%;
}

nav li li {
  float:none;
  display:block;
  margin:0;
}

nav li:hover > ul {display:block}

article {margin:3em 0}